<div class="about-section">
    <h1>Welcome to Art Haven</h1>
    <p>Discover a world of hand-painted artwork and beautifully crafted pots. Each piece is made with love, creativity, and passion.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="ar1.jpg">
        <img src="../../../assets/images/ar1.jpg" alt="Cinque Terre">
      </a>
      <div class="desc">Sham Joshi</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_forest.jpg">
        <img src="../../../assets/images/ar2.jpg" alt="Forest">
      </a>
      <div class="desc">Lina Doe</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="../../../assets/images/ar3.avif" alt="Northern Lights">
      </a>
      <div class="desc">Shina Khan</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="../../../assets/images/ar4.jpg" alt="Mountains">
      </a>
      <div class="desc">Sima Joshi</div>
    </div>
  </div>
  
  <div class="clearfix"></div>
  