.container {
    max-width: 1200px;
    margin: auto;
}

.card {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.text-primary {
    font-size: 1.2rem;
    font-weight: bold;
    color: #d4a017; /* Gold color */
}
